* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --container-width: 550px;
    --container-height: 600px;
}

.span1 {
    display: flex;
    font-size: 20px;
    justify-content: left;
    color: black;

}

.span2 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: brown;
}

.text-hor {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-90deg);

}

tr th, tr td:first-of-type {
    background-color: #b7eb8f ;
}


.alfa {
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 22px;
}

.beta {
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: green;
}

.output {
    flex-direction: column;
    align-items: center;
}

.pag {
    background-color: whitesmoke;
}

.button {
    position: relative;
    top: -18px;
}