.mygrid {
    padding: 0;
    background-color: #282c34;
    display: flex;
    justify-content: center;

    border: 2px solid whitesmoke;
}

.grid-elem-center {
    display: flex;
    justify-content: center;
    width: 300px;
    height: var(--container-height);

}

.grid-elem {
    display: flex;
    justify-content: center;

    width: var(--container-width);
    height: var(--container-height);
}


.calc-text {
    text-align: left;
    font-size: 20px;
    color: whitesmoke;
    word-wrap: anywhere;
    line-height: 50%;
    overflow: scroll;
}
